html
{   
    /* Scroll fluide lorsqu'on clique sur les liens */
    scroll-behavior: smooth;
}
body
{
    margin: 0px;
    background: url(img/nature.jpg) no-repeat fixed;
    width: 100%;
    background-size: 100%
}
h1
{
    text-align: center;
    margin-top: 310px;
    font-weight: bold;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    color:rgb(129, 173, 40);
    font-size: 3em;
    width: 100%;
    text-shadow: 2px 2px 20px yellowgreen
}
.soustitre
{
    font-size: 1.9em;
    text-align: center;
    color: black;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 30px
}

.flexouille
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 170px;
}
.fleche
{
    width: 45px;
    border: 4px solid whitesmoke;
    border-radius: 50px;
    color: brown
}
.flechouille
{
    /* Limiter la hitbox a la bordure */
    border-radius: 100%
}
.fleche:hover
{
    color: brown
}
ul
{
    list-style-type: none;
    display: flex; 
}
li
{
    margin-left: 10px;
}
a
{
    text-decoration: none;
    color: white
}
nav
{
    display: flex;
    background-color: rgb(241, 216, 131, 0.8);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 120px;
    font-size: x-large;
    justify-content: space-between;
    align-items: center;
    text-shadow: 2px 2px 12px white;
    transition: 3s;
}
.link
{   
    margin-right: 100px;
    margin-left: 50px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.link:hover
{
    border-bottom: 3px solid brown;
    color: brown;
    text-shadow: 2px 2px 20px brown
}
nav img
{   
    width: 70px;
    align-items: center
} 
.fb
{
    width: 30px;
    margin-left: 40px;
}
.mail
{
    width: 35px;
    
}
.mail:hover
{
    color: brown
}
.imgfoot
{
   margin-right: 50px
}
.t1
{
    font-size: xx-large;
    color: white;
    text-transform: uppercase;  
}
.acceuil
{
    margin-bottom: 100px
}
section
{
    box-shadow: 2px 2px 12px white;
    text-align: center; 
    width: 90%;  
    margin: auto;
    margin-top: 0px;                                           
    background-color: rgb(241, 216, 131, 0.8);
    align-items: center
}
.titres
{
    font-size: xx-large;
    color: white;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.8em;
    /* Espacer les lettres */
    letter-spacing: 0.06em;
    margin-top: 0px;
    padding-top: 70px;
    text-decoration: underline
}
.textes
{
    font-size: 1.7em;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 100px;
    /* Espacer les lignes */
    line-height: 1.5em;
}
.histoire
{
    border-bottom: white 2px solid;
    margin-right: 100px;
    margin-left: 100px;
}
.types
{
    padding-top: 20px; 
    padding: auto;
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 100px;
    border-bottom: white 2px solid;
}
.textes1
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6em;
    color: black;
    line-height: 1.2em;
    text-align: center;
}
.textes2
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6em;
    color: black;
    line-height: 1.2em;
}
.p1p2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p1
{
    margin-top: 30px;
    padding-right: 60px;
}
.p2
{
    padding-left: 80px;
}

.p1, .p2, .p3
{
    margin-top: 40px;

}
.soustitres
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.9em;
    color: grey;
    text-shadow: 2px 2px 12px white;
}
.souligner
{
    text-decoration: underline;
}
.gras
{
    font-weight: bold;
}
.projet
{
    margin-top: 70px;
    border-bottom: white 2px solid;
    margin-right: 100px;
    margin-left: 100px;
}
.serre
{
    width: 350px;
    box-shadow: white 2px 2px 12px;
}
.projet h2
{
    margin-bottom: 50px;
}